/* CSS resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

body {
  height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: #262626;
}

.mytodo-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  height: 5%;
  background-color: #303030;
}

.header .icon-container {
  font-size: 30px;
  color: white;
  margin: 4px 10px;

  display: flex;
  align-items: center;
}

.content-container {
  display: flex;

  height: 100%;
}

.left-nav {
  background-color: #575757;
  min-width: 30%;
  padding: 20px;

  color: white;

  display: flex;
  flex-direction: column;
}

/* Project sidebar */

.project-container {
  display: flex;
  flex-direction: column;

  margin: 5% 0 5%; 


}




.project-list-container {
  display: flex;
  flex-direction: column;


}

/* Main content window */


.project .project-delete-btn {
    display: flex;
    justify-content: flex-end;

}

.project-viewer {
  display: flex;
  flex-direction: column;

  width: min(700px, 80%);
  margin-left: 4%;

}

.project-viewer-title {
  color: white;
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

input[type="text"] {
  margin: 0px;
  padding: 0px;
}






.project {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    cursor: pointer;
    border-radius: 2px;


}

.project:nth-child(1) {
    display: none;
}


.project-title {
    padding: 2%;

}



.project:hover {
    background-color: darkgrey;
}

.project:hover .project-delete-btn {
    visibility: visible;
}

.project-delete-btn {


    color: white;

    font-weight: bold;
    visibility: hidden;

    padding: 2%;
}

.add-project-btn {
    border-top: 1px solid gray;
    cursor: pointer;

}

.add-project-btn p {
    margin-top: 5%;
    
}
/* 'Add task styling' */

.form-inputs {
  display: flex;

  align-self: flex-start;
  flex-wrap: wrap;
  width: 100%;

  border: 1px solid gray;
  border-radius: 5px;

  padding: 6px;
}

.form-inputs input {
    color: white;
}

.new-task-form input 
{
  background-color: transparent;

  font-size: 1.2rem;
  font-weight: 800;
  color: white;

  border: none;
  outline: none;

  caret-color: white;
}

.new-task-form input[id="description"] {
  font-size: 1rem;
  font-weight: normal;
}

.new-task-btn-container {
  display: flex;
  justify-content: flex-end;

  margin-top: 30px;

  width: 100%;

  gap: 7px;
}

.add-task-btn {
  font-size: 1.2rem;
  font-weight: 800;

  width: 20%;
  height: 2%;

  color: lightgray;
}

.add-task-btn:hover {
  cursor: pointer;
  color: red;
}
.due-date-container {
  height: 20%;
  width: 30%;
}

.due-date-btn {
  height: 100%;
  width: 40%;

  margin: 10px 0px;

  font-weight: 700;
  color: white;
}

.due-date-btn-text {
  color: gray;
  font-weight: 700;
  text-align: left;
}

.due-date-picker-container {
  height: 1px;
  width: 1px;
}

.date-picker {
  height: 0px;
  width: 0px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edit-form-btns button,
.new-project-form button{
  border: 1px solid transparent;
  border-radius: 6px;

  color: white;
  font-weight: bold;

  height: 1.8rem;
  width: 6rem;
}

.edit-form-btns button.cancel-btn {
  background-color: #333333;
  color: white;
}

.edit-form-btns button.save-btn {
  background-color: darkred;
  color: white;
}
.confirm-task-btn {
  background-color: darkred;

  border: 1px solid transparent;
  border-radius: 6px;

  color: white;
  font-weight: bold;

  height: 1.8rem;
  width: 6rem;
}

/* Task container */
.task-container {
  display: flex;

  margin-top: 20px;
  padding: 2% 0%;
  gap: 10px;
}

.task-info-container {
  flex: 1 0 50%;

  padding: 0px;
  margin: -4px;

  cursor: pointer;
}

.task-title {
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}
.task-description {
  color: gray;
}

input[type="checkbox"] {
  flex: 1 0 auto;
  appearance: none;

  margin: 0px;

  font: inherit;

  width: 1.2rem;
  height: 1.2rem;

  border: 2px solid gray;
  border-radius: 2rem;
}

input[type="checkbox"]:hover {
  background-color: darkgrey;
}

.add-task-btn {
  color: gray;

  margin-top: 1%;
  font-size: 1.1em;
}

.task-btn-container {
  visibility: hidden;
  flex-basis: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  margin-right: 20px;
  gap: 20px;

  color: white;
  font-weight: 800;

  cursor: pointer;
}

.task-container:hover .task-btn-container {
  visibility: visible;
}

.task-btn-container div:hover {
  color: darkgray;
}

.add-task-btn {
  width: 100%;

  border-top: 1px solid gray;
}

/* 'Edit task' styling */

.edit-form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  border: 1px solid gray;
  border-radius: 5px;

  padding: 2% 3%;
}

.edit-form-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.edit-form-inputs .title {
  font-size: 1.2rem;
  padding-bottom: 4%;
}

.edit-form-inputs .description {
  font-size: 1rem;
  font-weight: normal;
}

.edit-form-inputs .edit-date-picker {
  font-size: 0.9rem;
  font-weight: normal;

  cursor: pointer;
}

.edit-form-btns {
  display: flex;
  height: 100%;

  justify-content: flex-end;
  align-items: flex-end;

  gap: 3%;
}

.edit-form-inputs  input {
  background: none;
  border: none;
  outline: none;

  color: gray;
  font-weight: bold;
}

.edit-date-placeholder-text {
  padding: 0px;
}

.new-project-form {
    border-radius: 4px;

    padding: 5%;
    margin-top: 3%;
}

.new-project-form .form-confirm {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    align-items: center;
    
    height: 100%;
    gap: 4%;

}

.new-project-form input[type='text'] {
    border: none;
    outline: none; 

    caret-color: white;

    background-color: transparent;

}



.new-project-form .confirm-project-btn {
    background-color:darkred;

    width: 30%;
}

.new-project-form .cancel-project-btn {
    background-color: gray;
    width: 30%;
}


.add-project-btn {
    cursor: pointer;
    font-weight: 600;
}

.add-project-btn:hover {
    color:darkgrey 
}
